.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.products_image {
  height: 400px;
  cursor: pointer;
}

.products_title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.products_price {
  margin: 0;
}
