.cart_title{
    margin: 10px 20px;
    font-size: 50px;
    letter-spacing: 3px; 
}

.cart_card{
    margin: 40px 20px 20px 20px;
    text-decoration: underline;
    color: rgb(15, 88, 15);
}
.cart_card:hover{
    color: black;
    cursor: pointer;
}

.cart_container{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 100px;
}

.cart_innercontainer1{
    display: flex;
    margin: 0 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    border: 1px solid rgb(221, 221, 206);
    border-radius: 2px;
}

.cart_image{
    width: 180px;
    height: 180px;
}


.cart_infoContainer{
    display: flex;
    width: 50%;
}
.cart_infoContainer>h2{
    margin: 0;
}

.cart_descriptionContainer{
    display: flex;
    flex-direction: column;
}
.cart_descriptionTitle{
    margin: 0;
}
.cart_description{
    margin: 10px 0 ;
    font-size: large;
    white-space: nowrap;
}
.cart_remove{
    margin: 0;
    text-decoration: underline;
    color: rgb(15, 88, 15);
    cursor: pointer;
}
.cart_remove:hover{
    color: black;
}

.cart_priceContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.cart_priceContainer>div{
    height: 50px;
}
.cart_priceContainer>div>p{
    margin: 0;
    padding: 0;
    text-align: center;
}


.cart_price{
    margin: 0 30px;
}
.cart_priceLabel{
    font-size: 15px;
}
.cart_priceValue{
    font-size: 20px;
}



.cart_items{
    margin: 40px 20px 20px 20px;
}

.cart_innercontainer2{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    border: 1px solid rgb(221, 221, 206);
}

.cart_checkoutContainer{
    padding: 20px;
}

.cart_checkoutPrice{
    display: flex;
    justify-content: space-between;
}

.cart_buttonContainer{
    border-top: 1px solid rgb(221, 221, 206);
    padding: 20px;
}
.cart_button{
    width: 100%;
    height: 50px;
    font-weight: bold;
    color: white;
    background-color: rgb(15, 88, 15);
    border: none;
    cursor: pointer;
}

.cart_innercontainer3{
    height: 330px;
    margin: 50px;
}

.cart_infoDescription{
    font-size: xx-large;
    font-weight: bold;
}

.cart_infoButton{  
    padding: 10px 30px;
    height: 50px;
    font-weight: bold;
    color: white;
    background-color: rgb(15, 88, 15);
    border: none;
    cursor: pointer;
}


@media only screen and (max-width: 1090px) {
    .cart_container{
        display: flex;
        flex-direction: column;
    }
  }

  @media only screen and (max-width: 660px) {
    .cart_innercontainer1{
        display: flex;
        flex-direction: column;
    }

    .cart_infoContainer{
        display: flex;
        margin: 0 auto;
    }

    .cart_priceContainer{
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }
  }