.productsPage_title{
    margin: 10px 18px;
    font-size: 40px;
    letter-spacing: 2px;
}

.productsPage_container{
    display: grid;
    grid-template-columns: 25% 75%;
}

.productsPage_filterContainer{
    position: relative;
    display: inline-block;
    margin: 20px;
}

.productsPage_filterSelect{
    display: flex;
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border-radius: 2px;
    background-color: white;
    border: 1px solid black;
    font-family: 'Poppins', sans-serif;
}
.productsPage_filterSelect:active,.productsPage_filterSelect:focus{
    border: 1px solid rgb(74, 74, 253);
    outline: 2px solid rgb(185, 185, 253);
    transition: ease-in-out 100ms;
}

/* .productsPage_filterOption{
    margin: 15px;
    padding: 15px 12px;
    background-color: white;
}
.productsPage_filterOption:hover{
    color: white;
    background-color: rgb(8, 158, 8);
} */




.productsPage_subtitle{
    margin: 30px 2px;
}

.productsPage_filterList2{
    margin: 0;
    padding: 0;
}

.productsPage_filterLists2{
    list-style: none;
}

.productsPage_filterListsButton{
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding-left: 0;
    font-size: 18px;
    border: none;
    background-color: white;
}

